/* sass variables  */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2235; }

h1 {
  color: #f2f2f2;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  padding-left: 60px; }

header p {
  color: #f2f2f2;
  padding-right: 60px; }

.blue-header {
  color: #34d1d1; }

.accordion-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0px; }

.accordion-header hr {
  width: 50%; }

.accordion-body {
  display: flex;
  flex-direction: column;
  align-items: center; }

.accordion-tabs {
  width: 80vw;
  height: 35vw;
  position: relative; }

.accordion-tabs ol {
  display: flex;
  justify-content: space-around;
  list-style-type: none; }

.accordion-tabs ol li .tab {
  position: absolute;
  width: 25%;
  text-align: center; }

.accordion-tabs ol li .active-tab-header {
  background-color: pink; }

.first-tab {
  left: 0%; }

.second-tab {
  left: 25%; }

.third-tab {
  left: 50%; }

.fourth-tab {
  left: 75%; }

.accordion-tabs ol li .tab-text {
  padding-top: 35px; }

.accordion-tabs ol li article {
  display: none; }

.accordion-tabs ol li .active-tab {
  display: flex; }

.tab-image {
  margin-top: 35px;
  height: 305px;
  width: 605px; }

.tab-img-one {
  background-image: url("assets/tabs-1.jpeg"); }

.tab-img-two {
  background-image: url("assets/tabs-2.jpeg"); }

.tab-img-three {
  background-image: url("assets/tabs-3.jpeg"); }

.tab-img-four {
  background-image: url("assets/tabs-4.jpeg"); }

/* xmas lights */
.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%; }
  .lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    animation-name: flash-1;
    animation-duration: 2s; }
    .lightrope li:nth-child(2n+1) {
      background: cyan;
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
      animation-name: flash-2;
      animation-duration: 0.4s; }
    .lightrope li:nth-child(4n+2) {
      background: #f70094;
      box-shadow: 0px 4.6666666667px 24px 3px #f70094;
      animation-name: flash-3;
      animation-duration: 1.1s; }
    .lightrope li:nth-child(odd) {
      animation-duration: 1.8s; }
    .lightrope li:nth-child(3n+1) {
      animation-duration: 1.4s; }
    .lightrope li:before {
      content: "";
      position: absolute;
      background: #222;
      width: 10px;
      height: 9.3333333333px;
      border-radius: 3px;
      top: -4.6666666667px;
      left: 1px; }
    .lightrope li:after {
      content: "";
      top: -14px;
      left: 9px;
      position: absolute;
      width: 52px;
      height: 18.6666666667px;
      border-bottom: solid #222 2px;
      border-radius: 50%; }
    .lightrope li:last-child:after {
      content: none; }
    .lightrope li:first-child {
      margin-left: -40px; }

@keyframes flash-1 {
  0%, 100% {
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5; }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2); } }
@keyframes flash-2 {
  0%, 100% {
    background: cyan;
    box-shadow: 0px 4.6666666667px 24px 3px cyan; }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2); } }
@keyframes flash-3 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 4.6666666667px 24px 3px #f70094; }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2); } }

/*# sourceMappingURL=styles.css.map */
