/* sass variables  */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2235; }

h1 {
  color: #f2f2f2;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  padding-left: 60px; }

header p {
  color: #f2f2f2;
  padding-right: 60px; }

h3 {
  padding: 5px; }

.blue-header {
  color: #34d1d1; }

.accordion-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0px; }

.accordion-header hr {
  width: 50%; }

.accordion-body {
  display: flex;
  flex-direction: column;
  align-items: center; }

.accordion-tabs {
  width: 80vw;
  position: relative; }

.accordion-tabs ol {
  display: flex;
  justify-content: space-around;
  list-style-type: none; }

.accordion-tabs ol li .tab {
  position: absolute;
  top: -35px;
  width: 25%;
  text-align: center;
  background-color: #f2f2f2;
  border-right: 1px solid white;
  border-left: 1px solid white; }

.accordion-tabs ol li .active-tab-header {
  background-color: white;
  border: 1px solid #d1d2d3;
  border-bottom: none; }

.first-tab {
  left: 0%; }

.second-tab {
  left: 25%; }

.third-tab {
  left: 50%; }

.fourth-tab {
  left: 75%; }

.accordion-tabs ol li .tab-text {
  padding: 35px 15px 15px 0px; }

.accordion-tabs ol li article {
  display: none; }

.accordion-tabs ol li .active-tab {
  display: flex;
  border: 1px solid #d1d2d3; }

.tab-image img {
  padding: 15px; }

.view-code-button {
  background-color: #3f3244;
  border: none;
  height: 50px;
  width: 33vw;
  margin: 50px 33vw;
  color: white;
  font-size: 16px; }

.accordion-plus, .accordion-minus {
  display: none;
  font-size: 24px; }

.flexible-cards-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "topLeft topLeft topRight" "middleLeft middle middleRight" "bottomLeft bottomRight bottomRight";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 80vw;
  margin: auto; }

.flexible-cards-section article h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 26vw; }

.flexible-card-1 {
  grid-area: topLeft; }
  .flexible-card-1 div {
    height: 260px;
    background-image: url("assets/flex-1.jpeg"); }

.flexible-card-2 {
  grid-area: topRight; }
  .flexible-card-2 div {
    height: 260px;
    background-image: url("assets/flex-2.jpeg"); }

.flexible-card-3 {
  grid-area: middleLeft; }
  .flexible-card-3 div {
    height: 260px;
    background-image: url("assets/flex-3.jpeg"); }

.flexible-card-4 {
  grid-area: middle; }
  .flexible-card-4 div {
    height: 260px;
    background-image: url("assets/flex-4.jpeg"); }

.flexible-card-5 {
  grid-area: middleRight; }
  .flexible-card-5 div {
    height: 260px;
    background-image: url("assets/flex-5.jpeg"); }

.flexible-card-6 {
  grid-area: bottomLeft; }
  .flexible-card-6 div {
    height: 260px;
    background-image: url("assets/flex-6.jpeg"); }

.flexible-card-7 {
  grid-area: bottomRight; }
  .flexible-card-7 div {
    height: 260px;
    background-image: url("assets/flex-7.jpeg"); }

.flexible-cards-section article {
  border: 1px solid #d1d2d3; }

.flexible-cards-section article div img {
  width: 100%; }

.flexible-cards-section article h4 {
  padding: 10px; }

.flexible-cards-section article div {
  background-size: cover;
  background-repeat: no-repeat; }

@media only screen and (max-width: 700px) {
  /* flex cards only */
  .flexible-cards-section {
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7"; }

  .flexible-card-1 {
    grid-area: card1; }

  .flexible-card-2 {
    grid-area: card2; }

  .flexible-card-3 {
    grid-area: card3; }

  .flexible-card-4 {
    grid-area: card4; }

  .flexible-card-5 {
    grid-area: card5; }

  .flexible-card-6 {
    grid-area: card6; }

  .flexible-card-7 {
    grid-area: card7; }

  .flexible-cards-section article h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80vw; }

  /* end flex cards */
  header {
    display: block;
    text-align: center; }

  header h1, header p {
    padding: 15px; }

  .accordion-header {
    display: block;
    text-align: center; }

  .accordion-header hr {
    margin-left: 40%;
    width: 20%;
    margin-top: 25px; }

  .accordion-tabs ol li .active-tab-header {
    position: initial;
    border: none; }

  .accordion-tabs ol li .active-tab {
    border: none;
    display: initial; }

  .accordion-tabs ol li .tab-text {
    padding: 15px; }

  .accordion-tabs ol {
    display: initial; }

  .accordion-tabs ol li {
    position: relative; }

  .accordion-tabs ol li .tab {
    position: initial;
    width: 100%;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    text-align: initial;
    padding-left: 10px; }

  .accordion-tabs {
    border: 1px solid #d1d2d3; }

  .tab-image img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    padding: 0px; }

  .accordion-plus, .accordion-minus {
    display: initial;
    position: absolute;
    right: 15px;
    top: 2px; }

  .accordion-minus {
    right: 17px; }

  .tab .accordion-minus {
    display: none; }

  .active-tab-header .accordion-plus {
    display: none; }

  .active-tab-header .accordion-minus {
    display: initial; } }
/* xmas lights */
.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%; }
  .lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    animation-name: flash-1;
    animation-duration: 2s; }
    .lightrope li:nth-child(2n+1) {
      background: cyan;
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
      animation-name: flash-2;
      animation-duration: 0.4s; }
    .lightrope li:nth-child(4n+2) {
      background: #f70094;
      box-shadow: 0px 4.6666666667px 24px 3px #f70094;
      animation-name: flash-3;
      animation-duration: 1.1s; }
    .lightrope li:nth-child(odd) {
      animation-duration: 1.8s; }
    .lightrope li:nth-child(3n+1) {
      animation-duration: 1.4s; }
    .lightrope li:before {
      content: "";
      position: absolute;
      background: #222;
      width: 10px;
      height: 9.3333333333px;
      border-radius: 3px;
      top: -4.6666666667px;
      left: 1px; }
    .lightrope li:after {
      content: "";
      top: -14px;
      left: 9px;
      position: absolute;
      width: 52px;
      height: 18.6666666667px;
      border-bottom: solid #222 2px;
      border-radius: 50%; }
    .lightrope li:last-child:after {
      content: none; }
    .lightrope li:first-child {
      margin-left: -40px; }

@keyframes flash-1 {
  0%, 100% {
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5; }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2); } }
@keyframes flash-2 {
  0%, 100% {
    background: cyan;
    box-shadow: 0px 4.6666666667px 24px 3px cyan; }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2); } }
@keyframes flash-3 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 4.6666666667px 24px 3px #f70094; }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2); } }

/*# sourceMappingURL=styles.css.map */
